<div class="map-el">
  <div
    id="map"
    class='map'
    data-markers="<%= @markers.to_json %>"
    data-user="<%= @user.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class='sidebar'>
    <div class='heading'>
      <div style="display: flex; justify-content: space-around; align-items:center;">
        <div class="logo">
        </div>
        <div>
          <div>
            <h1>Encontre os melhores preços</h1>
          </div>
          <div style="display: flex; justify-content: space-evenly; align-items:center;">
            <div style="margin-bottom:3px;">
              <button id="btn-gasolina" class="button button-lista picked">Gasolina</button>
            </div>
            <div style="margin-bottom:3px;">
              <button id="btn-diesel" class="button button-lista">Diesel</button>
            </div>
            <div style="margin-bottom:3px;">
              <button id="btn-etanol" class="button button-lista">Etanol</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id='listings' class='listings'>
      <div id="list-gasolina"> 
        <div id="selected-gasolina"></div>
        <% @gas_stations.each do |gas_station|%>
          <div class="item card card-gasolina" data-gas_station_gasolina-id="<%= gas_station.id %>"> <div class="title"> <%= gas_station.name %></div> <p>a <%= gas_station.distance_to(@user_loc).round(2) %> KM de distância</p>
            <div style="display: flex; justify-content: space-evenly; align-items:center; flex-wrap: wrap;">
              <% gas_station.fuel_types.each do |fuel| %>
                <%if fuel == "Gasolina"||"Gasolina Aditivada"%>
                  <div class="fuel <%= fuel.name %>"><%= fuel.name %> - R$<%= fuel.price %></div>
                <%end%
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div id="list-diesel">
        <div id="selected-diesel"></div>
        <% @gas_stations.each do |gas_station|%>
          <div class="item card card-diesel" data-gas_station_diesel-id="<%= gas_station.id %>"> <div class="title"> <%= gas_station.name %></div> <p>a <%= gas_station.distance_to(@user_loc).round(2) %> KM de distância</p>
            <div style="display: flex; justify-content: space-evenly; align-items:center; flex-wrap: wrap;">
              <% gas_station.fuel_types.each do |fuel| %>
                <%if fuel == "Diesel"||"Diesel S10"%>
                  <div class="fuel <%= fuel.name %>"><%= fuel.name %> - R$<%= fuel.price %></div>
                <%end%>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div id="list-etanol">
        <div id="selected-etanol"></div>
        <% @gas_stations.each do |gas_station|%>
          <div class="item card card-etanol" data-gas_station_etanol-id="<%= gas_station.id %>"> <div class="title"> <%= gas_station.name %></div> <p>a <%= gas_station.distance_to(@user_loc).round(2) %> KM de distância</p>
            <div style="display: flex; justify-content: space-evenly; align-items:center; flex-wrap: wrap;">
              <% gas_station.fuel_types.each do |fuel| %>
                <%if fuel == "Etanol"%>
                  <div class="fuel <%= fuel.name %>"><%= fuel.name %> - R$<%= fuel.price %></div>
                <%end%
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>